@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.toast-container {
  position: fixed;
  top: $spacing-09; 
  right: $spacing-05;
  z-index: 9999;

  .cds--toast-notification {
    max-width: 400px;
  }
}